#canvas1 {
  border: 3px solid greenyellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

#ninjaBoy {
  display: none;
}
#kunai {
  display: none;
}
#background_1,
#background_2,
#background_3,
#background_4,
#background_5,
#background_6,
#background_7,
#background_8,
#background_9,
#background_10,
#background_11,
#background_12 {
  display: none;
}
